* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #191A23;
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  margin: 40px 0;
}
.logo {
  max-width: 180px;
}
.nav-links {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex: 1;
}
.nav-links a {
  font-size: 18px;
  color: #191A23;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover{
  color: #82dff1;
}
.social-icons {
  display: flex;
  gap: 40px;
}
.wrapper {
  height: auto;
  overflow: auto;
}
#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .wrapper .nav-links {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  position: absolute;
  width: 100vw;
  box-shadow: none;
}
#menu-toggle:checked ~ .wrapper .nav-links .container{
  padding: 0;
}
.menu-toggle-checkbox {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 28px;
  color: #191A23;
  cursor: pointer;
}
hr {
  border: none;
  height: 1px;
  background-color: #0000001A; 
  margin: 40px 20px;
}
.recipe-slider {
  margin: auto;
  gap: 100px;
}
.recipe-card{
  border-radius: 20px;
  display: flex;
}
.slick-slide{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E7FAFE;
  align-items: stretch;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  max-width: 1160px !important;
  margin-bottom: 40px;
  flex: 0 0 auto;
  margin-right: 25px;
  margin-left: 25px;
}
.slick-track {
  display: flex !important;
  flex-wrap: nowrap;
  transform: none !important;
}
.recipe-content {
  padding: 40px;
}
.slick-slide img{
max-width: 515px;
  height: auto;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.tag {
    display: inline-flex;
    align-items: center;
    background: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    gap: 6px;
}
.tag img {
  max-width: 16px;
  height: auto;
}
.tag-icon img{
  max-width: 18px;
  height: auto;
}
.recipe-content h1 {
  font-size: 64px;
  line-height: 70px;
  color: #000;
  margin-bottom: 43px;
}
.info-tags {
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.info-tag {
  display: flex;
  background: #d9f1f6;
  padding: 6px 10px 2px;
  border-radius: 16px;
  font-size: 14px;
  color: #333;
  background-color: #0000000D;
  gap: 6px;
}
.link-page{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author img {
  max-width: 40px;
  height: auto;
}
.view-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #000;
    color: #fff;
    padding: 14px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.view-btn:hover {
  background-color: #97dbe8;
  color: #000;
}
.slick-prev,
.slick-next,
.slick-dots {
    display: none !important;
}
.categories{
  margin: 0 0 40px 0;
}
.categories .container{
  display: block;
}
.cat-btn{
  background: #E7FAFE;
    padding: 12px 22px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.cat-btn:hover{
  background-color: #97dbe8;
  color: #000;
}
.cat-content{
  display: flex;
  justify-content: space-between;
}
.card {
  flex: 1 1 14%;
  max-width: 180px;
  height: auto;
  position: relative;
  background: linear-gradient(#70824600, #7082461A);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
  text-align: center;
  margin: 0; 
  padding-bottom: 20px;
}
.image-link {
  text-decoration: none;
  display: block; 
}
.image-link img {
   max-width: 100px;
    height: auto;
    margin: 0;
    border-radius: 15px;
}
 .caption {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #000;
    padding-bottom: 20px;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px; 
  padding: 20px 0;
}
.card-breakfast {
  background: linear-gradient(#70824600, #7082461A);
}
.card-vegan {
  background: linear-gradient(#6CC63F00, #6CC63F1A);
}
.card-meat {
  background: linear-gradient(#CC261B00, #CC261B1A); 
}
.card-desert {
  background: linear-gradient(#F09E0000, #F09E001A); 
}
.card-lunch {
  background: linear-gradient(#00000000, #0000000D);
}
.card-chocolate {
  background: linear-gradient(#00000000, #0000000D); 
}
.card-recipe{
  text-align:start;
  padding: 10px 25px;
  max-width: 360px;
  background: linear-gradient(#E7F9FD00, #E7F9FD);
}
.card-recipe .image-link {
  text-decoration: none;
  display: block; 
}
.recipies .card-recipe img{
  max-width: 310px;
}
.recipies .card-recipe .like img {
    max-width: 30px;
}
.recipies4u .card-recipe img {
    max-width: 265px;
    height: auto;
    margin: 0 0 20px 0;
}
.tag-text{
  font-size: 12px;
  line-height: 16px;
}
.card-recipe .tag-icon img{
  margin: 0;
}
.like img {
    max-width: 30px;
    height: auto;
}
.like{
  position: relative;
    top: 55px;
    left: 255px;
}
.card6{
  color: white;
  background-image: 
    linear-gradient(#357355, #1D483B),
    radial-gradient(circle, #3A795B 30%, #1D483B00 80%);
  border-radius: 0;
  box-shadow: 0;
  text-align: center;
}
.card6 h2 {
  margin-top: 25px;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
      font-family: 'Lobster';
      font-style: italic;
    }
.card6 img {
     max-width: 250px;
      height: auto;
      margin: 0;
    }
.card6 p {
      margin: 20px 0;
      font-size: 14px;
      font-family: Lobster;
    }
.recipies .container{
  display: block;
}
.recipies{
  margin: 0 0 40px 0;
}
.text{
  text-align: center;
}
.text h2{
  margin-bottom: 10px;
}
.text p{
  color: #00000099;
  font-size: 12px;
  line-height: 16px;
}
.chef{
  margin: 0 0 40px 0;
}
.chef .container{
  justify-content: space-between;
}
.chef-img img{
  max-width: 465px;
}
.content p {
    margin-bottom: 40px;
    color: #00000099;
    font-size: 14px;
    line-height: 18px;
}
.content h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
}
.content btn{
  margin-bottom: 20px;
}
.cta{
  margin: 0 40px 80px 40px;
  position: relative;
}
.cta .container{
  display: block;
}
.cta-section{
  margin-bottom: 40px;
  border-radius: 30px;
}
.cta-content{
  padding: 70px;
  text-align: center;
  background-color: #E7F9FD;
  border-radius: 44px;
}
.cta-content h2{
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 25px;
}
.cta-content p{
  font-size: 14px;
  color: #00000099;
  line-height: 20px;
  margin-bottom: 50px;
}
.subscription-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.subscription-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px;
    border-radius: 14px;
    max-width: max-content;
}
.subscription-box input {
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}
.image1,
.image2 {
  position: absolute;
  bottom: -4px;
}
.image1 {
  left: 20px;
}
.image2 {
  right: 20px;
}
.image1 img,
.image2 img {
  max-width: 300px;
  border-radius: 44px;
}
.cta .view-btn{
  font-weight: normal;
}
.recipies4u {
  margin: 0 0 40px 0;
}
.recipies4u .container{
  display: block;
}
.recipies4u .card{
  max-width: 270px;
}
.text4u {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}
.recipies4u .card{
  background: none;
}
.recipies4u .card .card-recipe{
  max-width: 180px;
  height: auto;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
  text-align: center;
  margin: 0; 
  padding-bottom: 20px;
}
.recipies4u .like img {
    max-width: 27px;
    height: auto;
}
.recipies4u .like{
  position: relative;
  top: 45px;
  left: 215px;
}
.recipies4u .card-recipe img {
    height: auto;
    margin: 0;
}
.recipies4u .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 0px;
}
.recipies4u .card-recipe {
  padding: 0;
}
.recipies4u .caption{
  font-size: 15px;
}
.recipies4u .text4u p{
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 70px;
    color: #00000099;
}
.recipies4u .text4u h2{
    font-size: 38px;
    line-height: 42px;
}
.footer{
  margin: 0 40px 40px;
}
.footer .container{
  display: block;
  color: #00000099;
  font-size: 14px;
  line-height: 18px;
}
.topPart{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bottomPart{
  display: flex;
  justify-content: end;
  gap: 325px;
}
.footer .container hr{
  margin: 10px 0 40px 0;
}
.footer .nav-links a {
    font-size: 14px;
    font-weight: 400;
}
.footer .nav-links {
    gap: 40px;
}
.footer .logo{
  margin-bottom: 6px;
}
.red-word{
  color:rgb(255, 84, 84);
}
.cta {
    margin: 0 0 55px 0;
}
.cta-content {
    padding: 70px 70px 85px 70px;
}
.image1 img, .image2 img {
    max-width: 255px;
}
.footer {
    margin: 0 0 20px;
}

@media screen and (max-width: 1440px) {
    .cards-wrapper {
        column-gap: 30px;
    }
    .card-recipe {
        padding: 0 25px;
    }
    .slick-slide{
      margin-left: 0;
    }
}

@media screen and (max-width: 1199px) {
    .social-icons {
        gap: 25px;
    }
    .nav-links {
        gap: 25px;
    }
    .slick-slide{
      max-width: 955px !important;
      margin-left: 0;

    }
    .recipe-content h1 {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 50px;
    }
.card-recipe{
  max-width: 300px;
}
.recipies .card-recipe img {
    max-width: 274px;
}
    .like {
        left: 225px;
    }
    .info-tag {
        padding: 6px 10px 4px;
    }
    .recipe-content {
        padding: 40px 0 40px 25px;
    }
    .tag {
        margin-bottom: 20px;
    }
    .view-btn {
        padding: 14px 15px;
    }
    .info-tags {
        margin-bottom: 50px;
    }
    .slick-slide img {
        max-width: 457px;
    }
    .cards-wrapper {
        column-gap: 25px;
    }
    .categories .image-link img {
        max-width: 90px;
    }
    .categories .info-tags {
        margin-bottom: 15px;
    }
    .card-recipe {
        padding: 10px 13px;
    }
    .chef-img img {
    max-width: 420px;
}
.cards-wrapper{
  justify-content: center;
}
.recipies4u .card-recipe img {
    max-width: 290px;
}
.recipies4u .card {
    max-width: 290px;
}
.recipies4u .like img {
    max-width: 27px;
    height: auto;
}
.recipies4u .like {
    left: 240px;
}
.recipies4u .text4u p {
  padding: 0;
}
.card-recipe .tag-icon img {
  max-width: 17px;
}
.bottomPart {
    gap: 255px;
}
}

@media screen and (max-width: 991px) {
    .nav-links {
        gap: 25px;
    }
    hr {
        margin: 40px 15px;
    }
    .nav-links a {
        font-size: 16px;
        line-height: 20px;
    }
    .social-icons {
        gap: 20px;
    }
    .recipies {
        margin-bottom: 40px;
    }
    .recipe-content {
        padding: 20px;
    }
    .recipe-content h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .slick-slide img {
        max-width: 345px;
    }
    .slick-slide {
        max-width: 730px !important;
        margin-left: 0;
        border-radius: 30px;
    }
    .cards-wrapper {
        column-gap: 110px;
        justify-content: center;
    }
    .view-btn {
        padding: 14px 12px;
        border-radius: 8px;
        font-size: 14px;
        gap: 0;
    }
    .card-recipe .image-link img {
        max-width: 310px;
    }
    .cards-wrapper {
        column-gap: 55px;
        justify-content: center;
    }
    .categories .image-link img {
        max-width: 100px;
    }
        .like {
        left: 255px;
    }
    .content h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
}
.content p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
}
.chef-img img {
        max-width: 310px;
    }
    .categories .card {
        max-width: 200px;
    }
    .card-recipe {
        padding: 12px 12px;
        max-width: 335px;
    }
    .tag {
        margin-bottom: 10px;
        padding: 4px 7px;
        border-radius: 16px;
        font-size: 10px;
    }
    .info-tags .info-tag img {
        max-width: 16px;
    }
    .recipies4u .text4u h2 {
    font-size: 28px;
    line-height: 32px;
}
.recipies4u .cards-wrapper {
  column-gap: 25px;
  justify-content: center;
}
    .card-recipe .image-link img {
        max-width: 310px;
    }
    .recipies4u .card-recipe img{
      max-width: 225px;
    }
    .recipies4u .like {
        left: 180px;
    }
    .recipies4u .like img{
      max-width: 25px;
    }
        .recipies4u .card {
        max-width: 230px;
    }
    .recipies4u .tag-icon img {
        max-width: 16px;
}

.image1 img, .image2 img {
    max-width: 215px;
}
.cta-content {
    padding: 30px 0 55px 0;
}
    .bottomPart {
        gap: 140px;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        margin: 25px 15px 40px 15px;
    }
    .fb-icon img {
    max-width: 8px;
}
.twitter-icon img {
    max-width: 16px;
}
.insta-icon img {
    max-width: 16px;
}
    .slick-slide {
        max-width: 536px !important;
    }
    .logo {
        max-width: 90px;
    }
    .nav-links {
        gap: 15px;
    }
    .nav-links a {
        font-size: 13px;
        line-height: 17px;
    }
    .social-icons {
        gap: 8px;
    }
    hr {
        margin: 0 15px 40px 15px;
    }
    .recipe-content {
        padding: 15px 0 15px 15px;
    }
    .recipe-content h1 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .slick-slide img {
        max-width: 269px;
        border-radius: 20px;
    }
    .slick-slide .view-btn {
        margin-top: 6px;
        padding: 8px 10px;
        border-radius: 8px;
        font-size: 10px;
        gap: 6px;
    }
        .info-tags {
        margin-bottom: 14px;
    }
    .slick-slide img {
        max-width: 303px;
        border-radius: 0;
    }
    .recipe-content h1 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
    }
.tag img {
        max-width: 12px;
}
.link-page .author img {
        max-width: 30px;
}
strong {
    font-size: 12px;
}
small {
    font-size: 10px;    
}
    .card-recipe {
        padding: 12px;
        max-width: 260px;
    }
    .card-recipe .image-link img {
        max-width: 235px;
    }
    .like {
        left: 175px;
    }
    .cards-wrapper {
        column-gap: 15px;
        justify-content: center;
    }
    .like {
        top: 40px;
        left: 195px;
    }
.recipies .card-recipe .like img {
    max-width: 25px;
}
    .slick-slide .view-btn
 {
        margin-top: 8px;
        padding: 5px 6px;
        border-radius: 6px;
        font-size: 10px;
        gap: 6px;
    }
    .info-tags .info-tag img {
        max-width: 12px;
    }
.tag-text {
    font-size: 10px;
    line-height: 14px;
}
.recipe-content h1 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 28px;
    }
    .info-tags {
        margin-bottom: 30px;
    }

    .link-page {
        margin-top: 0;
        display: block;
    }
    .slick-slide {
        border-radius: 20px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .tag {
        background: #fff;
        border-radius: 14px;
        font-size: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    .cat-btn {
        padding: 9px 16px;
    }
    .cat-content {
        margin-bottom: 20px;
    }
    .categories .cards-wrapper {
        column-gap: 59px;
    }
    .chef .container {
    flex-direction: column;
}
    .chef-img img {
        max-width: 430px;
    }
.content {
    margin-bottom: 20px;
}
.chef {
    margin-bottom: 60px;
}
.text4u {
    flex-direction: column;
}
    .recipies4u .text4u h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .recipies4u .card {
        max-width: 260px;
    }
    .recipies4u .like {
        left: 210px;
    }
    .recipies .card-recipe .card6-img img {
        max-width: 200px;
    }
.card6 h2 {
    margin-top: 0;
}
.card6 p {
    margin: 25px 0 0 0;
}
    .image1 img, .image2 img {
        max-width: 155px;
        border-radius: 20px;
    }
.subscription-box input {
    padding: 0 0 0 5px;
    font-size: 12px;
}
    .view-btn {
        padding: 12px 10px;
        border-radius: 8px;
        font-size: 12px;
    }
.subscription-box {
    padding: 4px;
}
.cta-content p {
    font-size: 12px;
    color: #00000099;
    line-height: 18px;
    margin-bottom: 25px;
}
.cta-content h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
}
    .cta-content {
        padding: 30px 0 41px 0;
	border-radius: 20px;
    }
.footer .nav-links {
    gap: 20px;
}

.footer .nav-links a {
    font-size: 12px;
    font-weight: 400;
}

    .logo {
        max-width: 80px;
    }

.footerContent p {
    font-size: 10px;
    line-height: 12px;
}

.bottomPart p {
    font-size: 10px;
}

.bottomPart {
    margin-bottom: 20px;
    gap: 120px;
}
    .recipies4u .card-recipe .image-link img {
        max-width: 255px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 15px;
        position: relative;
        flex-wrap: wrap;
    }
    .hamburger {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 100%;
        left: 0;
        max-width: 100%;
        background-color: white;
        padding: 20px 0;
        z-index: 999;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        text-align: center;
    }
    #menu-toggle:checked ~ .wrapper {
        height: 100vh;
        overflow: hidden;
        position: fixed;
        max-width: 100vw;
    }
    .logo {
        max-width: 140px;
    }
    .slick-slide{
      max-width: 360px !important;
    }
    .social-icons {
        display: none;
    }
    .cat-content {
        margin-bottom: 30px;
    }
    .navbar {
        margin: 10px 10px 20px 10px;
    }
    hr {
        margin: 0 10px 20px 10px;
    }
    .slick-initialized .slick-slide {
        margin-left: 0;
    }
    .recipe-content {
        padding: 15px 15px 15px 15px;
    }
    .recipe-content h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .info-tags {
        margin-bottom: 25px;
    }
    .tag {
        background: #fff;
        border-radius: 14px;
        font-size: 10px;
    }
    .slick-slide img {
        max-width: 360px;
    }
    .caption {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .categories .image-link img {
        max-width: 85px;
    }
    .cards-wrapper {
        padding: 0;
    }
    .card-recipe {
        padding: 0px 15px;
        max-width: 360px;
    }
    .card-recipe img {
        max-width: 330px;
        margin: 0 0 14px 0;
    }
    .card .info-tags {
        margin-bottom: 25px;
    }
    .card .like img {
        max-width: 30px;
        top: 70px;
        left: 250px;
    }
    .card .like {
        top: 70px;
        left: 284px;
    }
    .recipies .cards-wrapper {
        column-gap: 0;
        row-gap: 0;
    }
    .text4u {
        padding: 0;
        display: block;
    }
    .recipies4u .text4u p {
        font-size: 12px;
        line-height: 16px;
        padding: 0;
    }
    .content h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .content p {
        margin-bottom: 25px;
        font-size: 12px;
        line-height: 16px;
    }
    .content {
        max-width: 630px;
        margin-bottom: 20px;
    }
    .text h2 {
        margin-bottom: 20px;
    }
    .card6 {
        margin-top: 45px;
    }
    .chef-img img {
        max-width: 365px;
    }
    .recipies4u {
        margin-bottom: 40px;
    }
    .recipies4u .text4u h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .recipies4u .caption {
        font-size: 18px;
    }
    .recipies4u .card-recipe img {
        max-width: 360px;
        margin-bottom: 20px;
    }
    .info-tags .tag-icon img {
        margin: 0;
    }
    .cta-content p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 25px;
    }
    .cta-content h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 25px;
    }
    .image1 img, .image2 img {
        max-width: 120px;
    }
    .cta .view-btn {
        font-weight: normal;
        padding: 6px 8px;
        border-radius: 4px;
        font-size: 10px;
    }
    .subscription-box input {
        font-size: 10px;
    }
    .subscription-box {
        padding: 6px;
        border-radius: 10px;
    }
    .cta-content {
        padding: 20px 25px 90px 25px;
    }
    .bottomPart {
        gap: 0;
        justify-content: start;
    }
    .image1 {
        left: 15px;
    }
    .image2 {
        right: 15px;
    }
    .image1 img, .image2 img {
        max-width: 130px;
    }
        .card-recipe .image-link img {
        max-width: 330px;
    }
    .card6 h2 {
        margin-top: 30px;
    }
    .recipies .card-recipe .card6-img img {
        max-width: 250px;
    }
    .card6 p {
        margin: 25px 0 10px 0;
    }
    .recipies4u .card {
        max-width: 360px;
    }
    .recipies4u .card-recipe .like img {
        max-width: 30px;
        margin-bottom: 20px;
    }
.topPart {
    margin-bottom: 20px;
}
.footer .container hr {
    margin: 10px 0 10px 0;
}

}